<div class="row">
	<div class="col-xs-10">
		<h1>PvE <small>Character Progression</small></h1>
	</div>
	<div class="col-xs-2" style="margin-bottom: 10px; margin-top: 20px;text-align:right;">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#characterWindow">
		  <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
		  Add New
	    </button>
	</div>
</div>

<table class="table table-bordered table-striped" id="guild-roaster">
  <colgroup>
	<col class="col-xs-2">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	
  </colgroup>
  <thead>
	<tr>
	  <th class="left">Name</th>
	  <th>Role</th>
	  <th>iLvl</th>
	  
	  <th>Head</th>
	  <th>Neck</th>
	  <th>Shoulder</th>
	  <th>Back</th>
	  <th>Chest</th>
	  <th>Wrist</th>
	  <th>Hands</th>
	  <th>Waist</th>
	  <th>Legs</th>
	  <th>Feet</th>
	  <th>Ring</th>
	  <th>Ring</th>
	  <th>Trinket</th>
	  <th>Trinket</th>
	  <th>MH</th>
	  <th>OH</th>
	  
	  <th>Heroics</th>
	  
	  <th colspan="3">HM</th>
	  
	  <th colspan="3">BRF</th>
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td class="left"><a href="#">Matadore</a></td>
	  <td class="">DPS</td>
	  <td class="">632</td>
	  
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  
	  <td class="">12</td>
	  
	  <td class="">0</td>
	  <td class="">0</td>
	  <td class="">0</td>
	  
	  <td class="">0</td>
	  <td class="">0</td>
	  <td class="">0</td>
	</tr>
	
	
  </tbody>
</table>


<div class="modal fade" id="characterWindow" tabindex="-1" role="dialog" aria-labelledby="characterWindowLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="characterWindowLabel">Add New Character</h4>
      </div>
      <div class="modal-body">
      
		  <div class="form-group">
			<label for="toonRegion">Region</label>
			<select class="form-control" id="toonRegion">
			  <option value="">Select</option>
			  <option value="us.battle.net">US</option>
			  <option value="eu.battle.net">Europe</option>
			  <option value="kr.battle.net">Korea</option>
			  <option value="tw.battle.net">Taiwan</option>
			  <option value="www.battlenet.com.cn">China</option>
			</select>
		  </div>
		  <div class="form-group">
			<label for="toonRealm">Realm</label>
			<input type="text" class="form-control" id="toonRealm" placeholder="">
		  </div>
		  <div class="form-group">
			<label for="toonName">Name</label>
			<input type="text" class="form-control" id="toonName" placeholder="Character Name">
			<!--<p class="help-block">Example block-level help text her</p>-->
		  </div>
		  


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


