<h1><%= settings.guild_name %> <small><%= settings.guild_realm %></small></h1>


<table class="table table-bordered table-striped" id="guild-roaster">
  <colgroup>
	<col class="col-xs-2">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	<col class="col-xs-1">
	
  </colgroup>
  <thead>
	<tr>
	  <th class="left">Name</th>
	  <th>Role</th>
	  <th>iLvl</th>
	  <th>Ring</th>
	  
	  <th>Head</th>
	  <th>Neck</th>
	  <th>Shoulder</th>
	  <th>Back</th>
	  <th>Chest</th>
	  <th>Wrist</th>
	  <th>Hands</th>
	  <th>Waist</th>
	  <th>Legs</th>
	  <th>Feet</th>
	  <th>Ring</th>
	  <th>Ring</th>
	  <th>Trinket</th>
	  <th>Trinket</th>
	  <th>MH</th>
	  <th>OH</th>
	  
	  <th>Heroics</th>
	  
	  <th>N</th>
	  <th>H</th>
	  <th>M</th>
	  
	  <th>N</th>
	  <th>H</th>
	  <th>M</th>
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td class="left">Matadore</td>
	  <td class="">DPS</td>
	  <td class="">632</td>
	  <td class="">640</td>
	  
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  <td class="">600</td>
	  
	  <td class="">12</td>
	  
	  <td class="">0</td>
	  <td class="">0</td>
	  <td class="">0</td>
	  
	  <td class="">0</td>
	  <td class="">0</td>
	  <td class="">0</td>
	</tr>
	
	
  </tbody>
</table>

